@import (less) "./AXUtils.less";
@import (less) "./preset.less";

.none{display: none;}
.align-left{text-align: left;}
.align-center{text-align: center;}
.align-right{text-align: right;}

#AXPage{
	#AXPageHead{
		.page-head-tool{
			height: 31px;
			line-height: 31px;
			background: #e4e4e4;
			.page-head-menu-0{
				a{
					display: block;
					float: left;
					padding: 0px 10px;
					border-right: 2px solid #fff;
					font-size:11px;
				}
				&.ax-unit{}
			}
			.page-head-menu-1{
				a{
					display: inline-block;
					padding: 0px 10px;
					border-right: 2px solid #fff;
					font-size:11px;
				}
				select{margin-left: 10px;}
				input{width: 100px;}
			}
		}
		.page-head-menu{
			position: relative;
			min-height: 79px;

			#site-logo{
				display: block;
				width: 195px;height: 79px;
				background: url("images/logo.png");

			}

			.page-top-menu{
				ul{
					float: right;
					margin: 0px; padding: 15px 0px 0px 30px;
					li{
						list-style: none;
						display: block;
						float: left;

						padding: 0px 10px;
						font-size: 18px;
						height: 60px;line-height: 60px;
					}
				}
			}
		}
	}
	
	#AXPageVisual{
		.ax-wrap{
			height: 394px;
			background: url("images/main-visual.png") no-repeat;
			background-size: cover;
			margin-bottom: 20px;
		}
	}

	#AXPageBody{
		.main-block-group{
			.ax-unit{
				margin: 10px 10px;
				&.firstItem{margin-left: 0px;}
				&.lastItem{margin-right: 0px;}
			}
			.page-main-block{
				position: relative;
				border: 1px solid #e9e9e9;
				background: #fff;
				height: 135px;
				.section{
					padding: 10px 100px 10px 10px;
					h3{margin: 10px;font-size:14px;}
					p{margin:0px;font-size:12px;line-height: 18px;}
				}
				.more{
					position: absolute;right: 10px;top: 10px;
					font-size:11px;
				}
				&.block-1{
					background: url("images/block-1.png") no-repeat 100% 100%;
				}
				&.block-2{
					background: url("images/block-2.png") no-repeat center center;
				}
			}

			.notice-tab-group{
				position: relative;
				height: 27px;
				border-bottom:2px solid #033164;
				.tab-item{
					display: block;
					float: left;
					height: 26px;line-height: 26px;
					padding: 0px 15px;
					border-top: 1px solid #ccc;
					font-size:12px;font-weight: bold;
					border-left: 1px solid #ccc;
					&:first-child{

					}
					&:last-child{
						border-right: 1px solid #ccc;
					}
					&.on, &:hover, &:active{
						background: #033164;
						color: #fff;
					}
				}
				.tab-more{
					position: absolute;
					right: 5px;
					top: 5px;
					font-size:11px;
				}
			}
			.notice-tab-contents{
				.tab-content{
					font-size:12px;
					line-height: 20px;
					display: none;
					&.on{
						display: block;
					}

					ul{
						margin: 0px;padding: 10px 20px;
					}
				}
			}
		}

	}

	#AXPageFoot{
		.ax-wrap{
			//padding: 0px 0px 0px 150px;
			background: url("images/foot-logo.png") no-repeat left center;
			.page-foot-menu{
				padding-left:150px;
				ul{
					margin: 0px; padding: 5px 0px 0px 0px;
					li{
						list-style: none;
						display: block;
						float: left;

						padding: 0px 10px;
						font-size: 12px;
						height: 20px;line-height: 20px;
					}
				}
			}
			.page-foot-copyright{
				padding: 10px;
				padding-left: 160px;
				font-size:11px;
				line-height: 18px;
			}
		}
	}
}